@media (min-width: 640px) {
    .container {
        width: 100%;
        gap: 16px; /* Matches sm:gap-y-4 */
    }
}

@media (min-width: 2540px) {
    .custom-grid-container {
        justify-content: center;
        align-items: center;
        place-items: center;
    }
    .container.no-tools {
        width: 208px; /* Applies only when tools is false */
    }
}