@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --font-alexandria: 'Alexandria', sans-serif;
  overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Alexandria", sans-serif;

}